@{
    ViewBag.Title = "Home Page";
}

<main>



    <div class="panel-title" style="text-align:center">
        <h1>Inicia Sesion</h1>
    </div>
    <div class="container" style="text-align:center; width:400px; margin-top:50px">
        <form action="@Url.Action("Acceso","Home")" method="post">
            <label>Usuario</label>
            <input class="form-control" type="text" name="txtusuario" id="txtusuario" />
            <label>Contraseña</label>
            <input class="form-control" type="password" name="txtpasword" id="txtpasword" /> <br />
            <input class="form-control btn btn-success" type="submit" name="btnEntrar" id="btnEntrar" />

            <div>
                <a class="label label-primary" style="cursor:pointer" onclick="ModalRegistar()">Registrarse</a>
            </div>

        </form>
        <button type="button" class="btn btn-dark" onclick="ModalRecuperar()">Recuperar contraseña</button>

    </div>
</main>